{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="row">
<div class="col-4 aboutText">
<h1 style="padding-top:150px">About Us</h1> 
<hr>
</div>
</div>
<br>

<div class="aboutText">
<p class="textPara">BGS has become a go - to shopping 
destination for today's consumers who love to reinvent 
their looks and don’t want to be boxed into one style. 
BGS pushes the boundaries of fashion with a selection of gender 
fluid pieces that are inclusive for all.</p>
    </div>
    <div style="margin-bottom:150px">
    <img src="/img/about.png" alt="" class="about">
    </div>
{% endblock %}
