{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1 style="padding-top: 40px">Contact Us</h1>
<div style="padding-top: 30px">
<h5>Email</h5>
<p>Drop us an email and we will make sure that we get back to you as soon as possible
<a href="mailto:orders@bgs.com">orders@bgs.com</a></p>
</div>
<hr>
<div style="margin-bottom:220px">
<h5>Main Office</h5>
<p>2030 East Vista Bella Way Los Angeles CA, 90220 </p>
</div>
{% endblock %}
