.btn:hover {
  background-color: black;
  color: white;
}

.button:hover {
  background-color: black !important;
  color: white !important;
}

.button:active {
  background-color: gray;
  color: white;
}

.avatar {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
}
.avatar-medium {
  max-width: 64px;
  max-height: 64px;
}
.produit {
  max-width: 350px;
  max-height: 500px;
}

.ficheProduit {
  min-width: 400px;
  min-height: auto;
  max-width: 500px;
  max-height: auto;
}

.produitIMG {
  max-width: 70px;
  max-height: auto;
}

.imgHome {
  max-width: 1060px;
  max-height: auto;
}
.intro1 {
  max-width: 400px;
  max-height: auto;
}

.aboutText {
  position: absolute;
}
.about {
  max-width: 80%;
  height: auto;
  margin-left: 283px;
}

.textPara {
  font-size: 20px;
  color: black;
  width: 500px;
  margin: 0 auto;
  padding-top: 200px;
}
#description {
  width: 300px;
  padding-top: 15px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}
